.bluemoon-codeVmapPrimary path {
  @apply fill-primary;

  .svg-map__location[aria-checked="true"] {
    @apply fill-primary;
  }
}
.bluemoon-codeVmapWhite path {
  @apply fill-default-200 dark:fill-slate-500;

  .svg-map__location[aria-checked="true"] {
    @apply fill-default-500 dark:fill-slate-200;
  }
}

.bluemoon-codeVmapInfo path {
  @apply fill-info;

  .svg-map__location[aria-checked="true"] {
    @apply fill-info;
  }
}

.bluemoon-codeVmapWarning path {
  @apply fill-warning;

  .svg-map__location[aria-checked="true"] {
    @apply fill-warning;
  }
}

.bluemoon-codeVmapSuccess path {
  @apply fill-success;

  .svg-map__location[aria-checked="true"] {
    @apply fill-success;
  }
}

.bluemoon-codevmap path {
  @apply fill-primary;

  .svg-map__location[aria-checked="true"] {
    @apply fill-primary;
  }
}
